/*清空默认样式*/
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style:none
}
/* a:link{
  color:#615f5f;
}

a:visited{
  color:#615f5f;
} */
/* a{
  color:#615f5f;
} */
strong{
  color: #545455;
}
/*设置全局样式*/
body{
  font-family: "微软雅黑";
  font-size: 12px;
  color: #898888;
  background-color: #f5f5f5;
}
i {
  font-style:normal
}
