.main-nav {
  margin: auto;
  width: 1260px;
  height: 50px;
}
.main-nav li {
  width: 180px;
  line-height: 50px;
  font-size: 20px;
  background-color: #00b3f1;
  float: left;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #fff;
  position: relative;
}
.main-nav li img {
  position: relative;
  top: 2px;
  right: 2px;
}
.main-nav a:link {
  color: white;
}
.main-nav a:visited {
  color: white;
}
/*内容*/
.container {
  margin: auto;
  width: 1260px;
  height: 600px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
.container .top-slideshow {
  width: 100%;
  height: 80px;
}
.container .top-slideshow img {
  width: 100%;
  height: 100%;
}
.container .top-slideshow ul > li {
  display: none;
}
.container .top-slideshow .wrap-active {
  display: block;
}
.container .main-part {
  height: 460px;
  width: 1220px;
  margin-top: 20px;
  position: relative;
}
.container .main-part .top {
  height: 220px;
  width: 1220px;
}
.container .main-part .top .left-top {
  height: 220px;
  width: 330px;
  float: left;
  position: relative;
}
.container .main-part .top .left-top .wrap-left {
  width: 100%;
  height: 100%;
}
.container .main-part .top .left-top .wrap-left li {
  width: 100%;
  height: 100%;
}
.container .main-part .top .left-top .wrap-left .spans {
  position: absolute;
  left: 10px;
  bottom: 10px;
  transition: 0.5s ease;
  color: #fff;
  font-size: 14px;
  z-index: 999;
  display: inline-block;
  width: 180px;
  height: 20px;
  overflow: hidden;
  opacity: 0;
}
.container .main-part .top .left-top .wrap-left .span-active {
  bottom: 25px;
  transition: 0.5s ease;
  opacity: 1;
}
.container .main-part .top .left-top img {
  width: 330px;
  height: 200px;
}
.container .main-part .top .left-top button {
  color: #fdfdfd;
  height: 60px;
  width: 30px;
  position: absolute;
  bottom: 90px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}
.container .main-part .top .left-top .buttons {
  opacity: 0;
}
.container .main-part .top .left-top .button-active {
  opacity: 1;
}
.container .main-part .top .left-top .goNext {
  right: 0;
}
.container .main-part .top .left-top .point {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
}
.container .main-part .top .left-top .point .point-box {
  position: absolute;
  right: 0;
  top: 10px;
  height: 10px;
  width: 130px;
}
.container .main-part .top .left-top .point a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin-right: 5px;
}
.container .main-part .top .left-top .point .point-active {
  background-color: #b6dc51;
}
.container .main-part .top .left-top .wrap-active {
  display: block;
}
.container .main-part .top .center-top {
  height: 220px;
  width: 330px;
  margin-left: 20px;
  float: left;
  position: relative;
}
.container .main-part .top .center-top ul {
  width: 100%;
  height: 30px;
}
.container .main-part .top .center-top ul li {
  height: 100%;
  width: 110px;
  line-height: 30px;
}
.container .main-part .top .center-top .contents-box {
  width: 310px;
  height: 170px;
  display: none;
  position: absolute;
  left: 20px;
}
.container .main-part .top .center-top .contents-box li {
  width: 100%;
  height: 35px;
  text-align: left;
  font-size: 12px;
  color: #000;
  line-height: 35px;
  position: relative;
}
.container .main-part .top .center-top .contents-box li span {
  display: inline-block;
  position: absolute;
  right: 0;
}
.container .main-part .top .center-top .contents-active {
  display: block;
}
.container .main-part .top .right-top {
  height: 220px;
  width: 520px;
  margin-left: 20px;
  float: left;
}
.container .main-part .top .right-top .news {
  height: 220px;
  width: 330px;
  float: left;
}
.container .main-part .top .right-top .news .contents-box {
  display: none;
}
.container .main-part .top .right-top .news .contents-active {
  display: block;
}
.container .main-part .top .right-top .news div {
  height: 165px;
  width: 330px;
  margin-top: 40px;
  position: relative;
  line-height: 25px;
}
.container .main-part .top .right-top .news div .content > a {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.container .main-part .top .right-top .news div .content > a:link {
  color: #b6dc51;
}
.container .main-part .top .right-top .news div .content > a:visited {
  color: #b6dc51;
}
.container .main-part .top .right-top .news div .title {
  height: 70px;
  width: 330;
}
.container .main-part .top .right-top .news div .title .picture {
  height: 70px;
  width: 120px;
  float: left;
  margin: 0;
}
.container .main-part .top .right-top .news div .title .detail {
  height: 70px;
  width: 200px;
  float: left;
  margin-left: 10px;
  margin-top: 0;
}
.container .main-part .top .right-top .news div .content {
  height: 90px;
  width: 320px;
  line-height: 25px;
  margin-top: 10px;
  text-align: left;
}
.container .main-part .top .right-top .news div .content span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.container .main-part .top .right-top .right-top-right {
  height: 100%;
  width: 130px;
  float: right;
  /*background-color: #8b4a4a;*/
  text-align: center;
}
.container .main-part .top .right-top .right-top-right img {
  height: 55px;
  width: 130px;
  margin-bottom: 8px;
  position: relative;
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
  /*right: 0;*/
  /*display: inline-block;*/
}
.container .main-part .top .right-top .right-top-right img:hover {
  -webkit-transform: translate(-10px, 0);
  -moz-transform: translate(-10px, 0);
  -o-transform: translate(-10px, 0);
  -ms-transform: translate(-10px, 0);
}
.container .main-part .bottom {
  height: 220px;
  width: 1220px;
  margin-top: 20px;
}
.container .main-part .bottom .left-bottom {
  height: 220px;
  width: 330px;
  float: left;
  position: relative;
}
.container .main-part .bottom .left-bottom ul {
  width: 100%;
  height: 30px;
}
.container .main-part .bottom .left-bottom ul li {
  width: 110px;
  height: 100%;
  line-height: 30px;
}
.container .main-part .bottom .left-bottom .contents-box {
  position: absolute;
  left: 15px;
  display: none;
  width: 310px;
  background-color: #b16666;
  height: 200px;
}
.container .main-part .bottom .left-bottom .contents-box ul {
  width: 310px;
  height: 100%;
}
.container .main-part .bottom .left-bottom .contents-box ul li {
  width: 100%;
  height: 40px;
  text-align: left;
  font-size: 12px;
  color: #000;
  line-height: 35px;
  background-color: #f4f4f5;
  position: relative;
}
.container .main-part .bottom .left-bottom .contents-box ul li span {
  display: inline-block;
  position: absolute;
  right: 0;
}
.container .main-part .bottom .left-bottom .contents-active {
  display: block;
}
.container .main-part .bottom .center-bottom {
  height: 220px;
  width: 330px;
  margin-left: 20px;
  float: left;
}
.container .main-part .bottom .center-bottom .wrap-box {
  height: 85px;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}
.container .main-part .bottom .center-bottom .wrap-box .last-wrap {
  width: 330px;
  height: 85px;
  position: absolute;
  left: 0;
  display: flex;
  transition: 0.5s ease;
}
.container .main-part .bottom .center-bottom .wrap-box .last-wrap img {
  width: 330px;
  height: 85px;
}
.container .main-part .bottom .center-bottom button {
  color: #fff;
  position: absolute;
  bottom: 17px;
  z-index: 1000;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}
.container .main-part .bottom .center-bottom .goNext {
  right: 0;
}
.container .main-part .bottom .center-bottom .contents-active {
  display: block;
}
.container .main-part .bottom .right-bottom {
  height: 220px;
  width: 520px;
  margin-left: 20px;
  float: left;
}
.container .main-part .bottom .right-bottom .left-tab {
  height: 220px;
  width: 100px;
  float: left;
  background-color: #461c1c;
}
.container .main-part .bottom .right-bottom .left-tab ul {
  width: 100%;
  height: 100%;
}
.container .main-part .bottom .right-bottom .left-tab ul li {
  height: 55px;
  line-height: 55px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 2px;
}
.container .main-part .bottom .right-bottom .right-list {
  height: 240px;
  width: 380px;
  float: left;
  margin-left: 40px;
}
.container .main-part .bottom .right-bottom .right-list .contents-box {
  display: none;
}
.container .main-part .bottom .right-bottom .right-list .contents-box ul {
  height: 240px;
  width: 100%;
}
.container .main-part .bottom .right-bottom .right-list .contents-box ul li {
  width: 100%;
  height: 40px;
  position: relative;
}
.container .main-part .bottom .right-bottom .right-list .contents-box ul li span {
  display: inline-block;
  position: absolute;
  right: 0;
}
.container .main-part .bottom .right-bottom .right-list .contents-active {
  display: block;
}
/*内容区导航条*/
.contents-nav {
  position: relative;
  /*width: 330px;*/
  background: #eef1f5;
}
.contents-nav li {
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 110px;
  background-color: #eef1f5;
  float: left;
}
.contents-nav .contents-nav-active {
  background-color: #00b3f1;
}
.contents-nav .contents-nav-active a {
  color: #fff;
}
.contents-box li {
  list-style-image: url("http://www.xianning.gov.cn/images/xn2018_index_icon32.png");
}
.contents-box li:hover a {
  color: #00b3f1;
}
.wrap-left li {
  display: none;
  position: relative;
}
a:link {
  color: #615f5f;
}
a:visited {
  color: #615f5f;
}
